.card__button {
  margin: 0;
  padding: 0;
  text-decoration: underline dashed;
  border: none;
  background-color: transparent;
  color: #1698d9;
  cursor: pointer;
}

.card__button:hover {
  color: #2ea8e6;
}

.card__button:focus {
  outline: none;
}