.card__corner {
  position: absolute;
  top: -10px;
  left: 12px;
  width: 4px;
  height: 60px;
  background-color: #1698d9;
  transform: rotate(225deg);
}

.card__corner_selected {
  background-color: #d91667;
}

.card__corner_disabled {
  background-color: #b3b3b3;
}