.card__description {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #666;
}

.card__description_active {
  color: #e62e7a;
}

.card__description_disabled {
  color: #d4d4d4;
}