.card {
  margin: 0 80px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.card:last-of-type {
  margin: 0;
}

.card__content {
  min-width: 320px;
  height: 480px;
  margin: 0 0 15px;
  padding: 25px 45px 0;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border: 4px solid #1698d9;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  clip-path: polygon(40px 0, 100% 0, 100% 100%, 0% 100%, 0% 40px);
  cursor: pointer;
}

.card__content:hover {
  border: 4px solid #2ea8e6;
}

.card__content:hover .card__corner {
  background-color: #2ea8e6;
}

.card__content:hover .card__circle {
  background-color: #2ea8e6;
}

.card__content_selected {
  border: 4px solid #d91667;
}

.card__content_selected:hover {
  border: 4px solid #e62e7a;
}

.card__content_selected:hover .card__corner {
  background-color: #e62e7a;
}

.card__content_selected:hover .card__circle {
  background-color: #e62e7a;
}

.card__content_disabled {
  border: 4px solid #b3b3b3;
  cursor: auto;
}

.card__content_disabled:hover {
  border: 4px solid #b3b3b3;
}

.card__content_disabled:hover .card__corner{
  background-color: #b3b3b3;
}

.card__content_disabled:hover .card__circle {
  background-color: #b3b3b3;
}

.card__corner {
  position: absolute;
  top: -10px;
  left: 12px;
  width: 4px;
  height: 60px;
  background-color: #1698d9;
  transform: rotate(225deg);
}

.card__corner_selected {
  background-color: #d91667;
}

.card__corner_disabled {
  background-color: #b3b3b3;
}

.card__description {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #666;
}

.card__description_active {
  color: #e62e7a;
}

.card__description_disabled {
  color: #d4d4d4;
}

.card__title {
  margin: 0 0 15px;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.card__title_disabled {
  color: #d4d4d4;
}

.card__product-name {
  margin: 3px 0 0;
  font-size: 24px;
  line-height: 24px;
}

.card__subtitle {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #666;
}

.card__subtitle_disabled {
  color: #d4d4d4;
}

.card__cat {
  width: 270px;
  height: 270px;
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: none;
  object-position: left -25px bottom -90px;
}

.card__cat_disabled {
  opacity: .5;
}

.card__button {
  margin: 0;
  padding: 0;
  text-decoration: underline dashed;
  border: none;
  background-color: transparent;
  color: #1698d9;
  cursor: pointer;
}

.card__button:hover {
  color: #2ea8e6;
}

.card__button:focus {
  outline: none;
}

.card__circle {
  width: 80px;
  height: 80px;
  padding: 16px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  background-color: #1698d9;
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 100;
}

.card__circle_selected {
  background-color: #d91667;
}

.card__circle_disabled {
  background-color: #b3b3b3;
}

.card__weight {
  margin: 0;
  font-size: 42px;
  font-weight: normal;
  line-height: 42px;
  color: #fff;
}

.card__weight_font_small {
  font-size: 21px;
  line-height: 21px;
}

.card__text {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #fff;
}

.card__text_hidden {
  display: none;
}

.card__text_value_empty {
  color: #ffff66;
}

@media screen and (max-width: 1280px) {
  .card {
    margin: 0 40px 30px 0;
  }
}

@media screen and (max-width: 1000px) {
  .card:nth-child(even) {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    margin: 0 0 30px;
  }

  .card__content {
    min-width: 0;
    max-width: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .card {
    margin: 0 10px 30px;
  }

  .card__content {
    padding: 25px 35px 0;
  }
}