@import './elements/button.css';
@import './elements/cat.css';
@import './elements/circle.css';
@import './elements/content.css';
@import './elements/corner.css';
@import './elements/description.css';
@import './elements/product-name.css';
@import './elements/subitle.css';
@import './elements/text.css';
@import './elements/title.css';
@import './elements/weight.css';

.card {
  margin: 0 80px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.card:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .card {
    margin: 0 40px 30px 0;
  }
}

@media screen and (max-width: 1000px) {
  .card:nth-child(even) {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 700px) {
  .card {
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 375px) {
  .card {
    margin: 0 10px 30px;
  }
}